
<footer>

  <table width="100%">
    <tr>
      <td>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
      </td>
      <td>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
      </td>
      <td>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
        <p>Vacancies</p>
      </td>
    </tr>
  </table>

  <p><a href="mailto:info@ssor.uk">info@ssor.uk</a></p>
  <p>&copy; Copyright <script>document.write(new Date().getFullYear())</script> by SSOR Limited. All Rights Reserved.</p>
</footer>

<script src="script.js"></script>
