
<nav>
  <button class="hamburger hamburger--vortex" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div id="nav-bar">
    <ul>
      <hr><a href="#about"><li><i class="fas fa-user-tie"></i></li></a>
      <hr><a href="#services"><li><i class="fas fa-concierge-bell"></i></li></a>
      <hr><a href="#reviews"><li><i class="fas fa-comments"></i></li></a>
      <hr><a href="#contact"><li><i class="fas fa-paper-plane"></i></li></a>
    </ul>
  </div>
</nav>

<a href="#"><img id="goToTop" src="images/ssor.png"></a>
